@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Qanelas";
  src: url("../src/assets/fonts/Qanelas/Qanelas-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Qanelas";
  src: url("../src/assets/fonts/Qanelas/Qanelas-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Qanelas";
  src: url("../src/assets/fonts/Qanelas/Qanelas-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Qanelas";
  src: url("../src/assets/fonts/Qanelas/Qanelas-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@layer components {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="url"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="search"],
  input[type="tel"],
  input[type="checkbox"],
  input[type="radio"],
  select,
  select[multiple],
  textarea {
    /* @apply tw-rounded-xl tw-border-brdr; */
  }

  /* todo move card class to shadow config */
  .tw-shadow-card {
    --tw-shadow: 0 8px 20px 0 #73706e14;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .tw-from-bg-social-icon-from {
    --tw-gradient-from: #f5f1ef;
    --tw-gradient-stops: var(--tw-gradient-from),
      var(--tw-gradient-to, #f5f1ef00);
  }
  .tw-bg-gradient-to-tl {
    background-image: linear-gradient(to top left, var(--tw-gradient-stops));
  }
}
@layer base {
  html {
    font-family: Qanelas;
    letter-spacing: 0.03em;
  }
  .tw-font-qanelas {
    font-family: Qanelas;
  }
  .tw-card-shadow {
    box-shadow: 0 8px 20px 0 #73706e14;
  }
}

/* todo undo focus after click */
@layer base {
  .redesign *:focus {
    @apply tw-ring tw-outline-0 tw-ring-redi-primary/30;
  }
}

/* Redesign styles below */
/* Custom range input */
@layer utilities {
  .no-ring {
    @apply focus:tw-ring-0 focus:tw-ring-offset-0;
  }

  /*  range  */
  .custom-range input[type="range"] {
    @apply tw-appearance-none tw-w-full tw-rounded-full tw-cursor-pointer;
  }
  .custom-range input[type="range"]:focus {
    outline: none;
  }
  .custom-range input[type="range"]::-moz-focus-outer {
    @apply tw-border-0;
  }
  .custom-range-regular input[type="range"] {
    @apply tw-bg-redi-borders tw-bg-gradient-to-t tw-from-redi-primary tw-to-redi-primary tw-bg-no-repeat;
  }
  .custom-range-warning input[type="range"] {
    @apply tw-bg-redi-borders tw-bg-gradient-to-t tw-from-redi-danger tw-to-redi-danger tw-bg-no-repeat;
  }

  /*  range  track */
  .custom-range input[type="range"]::-webkit-slider-runnable-track {
    @apply tw-rounded-full tw-bg-redi-borders tw-shadow-none tw-h-[6px] tw-w-full tw-border-0 tw-bg-redi-placeholder;
  }
  .custom-range input[type="range"]::-moz-range-track {
    @apply tw-rounded-full tw-bg-redi-borders tw-shadow-none tw-h-[6px] tw-w-full tw-border-0 tw-bg-redi-placeholder;
  }
  .custom-range input[type="range"]::-webkit-slider-runnable-track {
    @apply tw-appearance-none tw-shadow-none tw-border-none tw-bg-transparent;
  }

  /*  range thumb  */
  .custom-range input[type="range"]::-webkit-slider-thumb {
    @apply tw-appearance-none tw-cursor-pointer tw-w-4 tw-h-4 tw-border-2 tw-border-solid tw-border-white  tw-rounded-full tw-mt-[-6px];
  }
  .custom-range-regular input[type="range"]::-webkit-slider-thumb {
    @apply tw-bg-redi-primary tw-shadow-control-light-blue;
  }
  .custom-range-warning input[type="range"]::-webkit-slider-thumb {
    @apply tw-bg-redi-danger tw-shadow-control-light-red;
  }

  .custom-range input[type="range"]::-moz-range-thumb {
    @apply tw-appearance-none tw-cursor-pointer tw-w-4 tw-h-4 tw-border-2 tw-border-solid tw-border-white  tw-rounded-full tw-mt-[-6px];
  }
  .custom-range-regular input[type="range"]::-moz-range-thumb {
    @apply tw-bg-redi-primary tw-shadow-control-light-blue;
  }
  .custom-range-warning input[type="range"]::-moz-range-thumb {
    @apply tw-bg-redi-danger tw-shadow-control-light-red;
  }
}
